body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* This will make both the html and body elements hide (and disable) scrolling. It will also make these elements fit the entire screen. */
html, body {
  overflow: hidden;
  height: 100%
}
